<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="main-box">
    <div class="header">
        <h1>To Do: ( <%- context.length %> )</h1>
    </div>
    <div class="main-content">
        <% for (var i=0; i < context.length; i++) { %>
            <div class="task">
                <input type="checkbox" class='checkbox' id="<%= i %>" value="checkbox">
                <%= context[i].task %>
                <button class="delete" type="button">x</button>
                <!-- <button class="edit" type="button">o</button>  -->
            </div>
        <% } %>
    </div>
    <div class="submit-task">
        <input type="text" id="new-task" name="name" required
            placeholder="Enter new task here...">
        <button class="submit" type="button">Submit</button>
        <button class="submit" type="button">Advanced Options</button>
        <button class="submit" type="button">Save</button>
    </div>

</div>

<script type="text/javascript" src="/js/main.js"></script> -->
<link href="/css/style.css" rel="stylesheet" type="text/css">